<div class="container">
    <div id="plan-container">
        <h2>Meal plan</h2>
        <table>
            <tr>
                <th>Day</th>
                <th>Meal</th>
                <th>Lock meal?</th>
            </tr>

            @for (mealPlan of mealPlans; track $index) {
            <tr>
                <td>{{mealPlan.dayOfWeek}}</td>
                <td>{{mealPlan.meal.name}}</td>
                <td>
                    <input type="checkbox" name="" id="" [(ngModel)]="mealPlan.isLocked"
                        [disabled]="mealPlan.meal == null">
                </td>
            </tr>
            }
        </table>
        <div class="button-container flex">
            <div id="shuffleButton" class="clickable" (click)="shufflePlan()">Shuffle plan</div>
        </div>
    </div>
    <div id="meal-list">
        <h2>Meal list</h2>

        <div id="meal-tag-container">
            @for (filterItem of filterItems; track $index) {
            <app-filter-item [name]="filterItem.tag" [active]="filterItem.active"
                (activeChangedEvent)="handleFilterItemClick($event)"></app-filter-item>
            }
        </div>

        @for (meal of meals; track $index) {
        <div>{{meal.name}}</div>
        }
    </div>
</div>