* {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
}

.clickable:hover {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}